//// font
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');

//// GLOBAL SETUq
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ibarra Real Nova', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #374151; // 700 gray
  background-color: #eff6ff;
}

h2 {
  font-size: 4.4rem;
  font-weight: 500;
}

//----- HEADER -----//
.header {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr auto;
}

// ----- TRIPS -----//
.trips {
  width: 140rem;
  margin: 0 auto;
  padding: 2.4rem 0;
  margin-bottom: 8rem;

  h2 {
    margin-bottom: 6.4rem;
  }

  &__list {
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3.2rem;
    justify-content: center;
  }
}

.trip-card {
  font-size: 1.6rem;
  display: inline-block;
  width: 30rem;
  background-color: #e9f2fd;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  &__content {
    padding: 2.4rem 2.4rem 3.6rem 2.4rem;
  }

  h3 {
    font-size: 2.4rem;
    padding-bottom: 0.5rem;
  }
}

//----- INFO -----//
.info {
  background-image: url(https://cdn.dribbble.com/users/1731254/screenshots/11649852/nature_gradients_illustration_tubikarts_4x.png);
  background-size: cover;
  background-position: center;
  border-radius: 5rem 5rem 5rem 3rem;
  // inner shadow
  box-shadow: inset 0 0 2rem rgba(9, 42, 61, 0.5);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 4.8rem;

  &__text {
    font-size: 2rem;
    backdrop-filter: blur(2rem);
    color: #374151;
    background-color: #eff6ff;
    border-top-right-radius: 3rem;

    display: inline-block;
    padding: 2.4rem 3.2rem;
  }
}

.trip-info {
  align-self: flex-start;

  &__list {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__weather-list {
    padding: 2.4rem 0 0 2.4rem;
  }
}

// ----- FORM -----//
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 8rem;
}

/// ----- COMPONENTS -----//
.input {
  width: 100%;
  border-radius: 0.9rem;
  border: 0.1rem solid #374151;
  background-color: #eff6ff;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  color: #374151;

  &:nth-child(3) {
    margin-bottom: 1.6rem;
  }
}

// button
.btn {
  width: 100%;
  border-radius: 0.9rem;
  border: 0.1rem solid #eff6ff;
  background-color: #374151;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  color: #eff6ff;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: #4b5563;
  }

  &:active {
    background-color: #1f2937;
  }
}

// media queries for 1600 and below
@media screen and (max-width: 1600px) {
  h2 {
    font-size: 3.2rem;
  }

  // ----- TRIPS -----//
  .trips {
    width: 112rem;
    padding: 1.6rem 0;

    h2 {
      margin-bottom: 4.8rem;
    }

    &__list {
      padding: 0 2.4rem;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.4rem;
    }
  }

  .trip-card {
    width: 28rem;

    img {
      height: 16rem;
    }

    &__content {
      padding: 1.6rem 1.6rem 2.4rem 1.6rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  //----- INFO -----//
  .info {
    margin: 3.2rem;

    &__text {
      font-size: 1.8rem;
      padding: 1.6rem 2.4rem;
    }
  }

  .trip-info {
    &__list {
      font-size: 2rem;
    }

    &__weather-list {
      padding: 1.6rem 0 0 1.6rem;
    }
  }

  // ----- FORM -----//
  .form {
    gap: 1.6rem;
    padding: 6.4rem;
  }

  /// ----- COMPONENTS -----//
  .input {
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
  }

  // button
  .btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
  }
}

// media queries for 1200 and below
@media screen and (max-width: 1200px) {
  .trips {
    width: 100%;
  }
}

// media queries for 900 and below
@media screen and (max-width: 900px) {
  .header {
    grid-template-columns: 1fr;
  }

  .trips__list {
    grid-template-columns: auto auto;
    gap: 3.6rem;
  }

  .info {
    height: 50rem;
    border-radius: 3rem;
  }

  .info__text {
    width: 100%;
    border-radius: 0;
  }
}

// media queries for 600 and below
@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: 1fr;
  }

  .trips__list {
    grid-template-columns: auto;
    gap: 3.6rem;
  }

  .info {
    height: 50rem;
    border-radius: 3rem;
  }

  .info__text {
    width: 100%;
    border-radius: 0;
  }
}
